/* playing with background size and background position */
.back-sizer{
    height:600px;
    border:2px solid black;
    
    
    background-image: url("../images/puppy-full.jpg"); 
    background-size: cover;   
    /*contain makes the whole background image fit inside the element*/
    /*cover ensures the background image corvers the entire element*/
    /*with background size you can also set a specific size in px or em or other units*/
    /*background position lets you change which part of the images is visible*/
    background-position: center 50%;
    /*you can use a relative position like center, left, right, top, bottom*/
    background-repeat: no-repeat;
}

.test2 img{
    width:100%;
}

@media screen and (min-width:900px){
    .test2{
        width:66.6vw;
    }
    /* vw = viewport width */
}

@media screen and (min-width:1200px){
    .test2{
        width:33.3vw;
    }
}